@{
    ViewBag.Title = "Async Test Page :: Calling ScriptX.Print Service";
}

<div class="jumbotron">
    <h1>MeadCoScriptXJS</h1>
    <p class="lead">MeadCoScriptXJS is a simple javascript wrapper library for use with MeadCo's ScriptX Add-on () for Microsoft Internet Explorer. This library has been used with our samples system for some time.</p>
    <p><a href="http://scriptx.meadroid.com" class="btn btn-primary btn-lg">Learn more about ScriptX &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This is a simple test page for the async functions in the library (<span id="libVersion">Waiting ...</span>). A ScriptX.Print Service should be available.</p>
        <h3>Installed version</h3>
        <p>The following (emulation) version of ScriptX has been found: <span class="text-danger" data-purpose="sxversion">Waiting....</span>. The license is <span class="text-danger" id="licCheck">Waiting ...</span> <span id="errMsg"></span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"><button class="btn btn-default" id="btn-test1">Preview</button></div>
    <div class="col-md-1"><button class="btn btn-default" id="btn-test2">PrintHTML</button></div>
    <div class="col-md-2"><button class="btn btn-default" id="btn-test3">PrintHTMLEx</button></div>
    <div class="col-md-8">@Html.ActionLink("Home", "Index", null, new { @class = "btn btn-default" })</div>
</div>

@section scripts
{
    <script src="~/Scripts/MeadCo.ScriptX/meadco-core.js"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxlicense.js" data-meadco-subscriptionserver="https://localhost:44315/api/v1/licensing" data-meadco-subscription="{13598d2f-8724-467b-ae64-6e53e9e9f644}"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxprint.js"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxprinthtml.js"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxfactory.js" data-meadco-printhtmlserver="https://localhost:44315/api/v1/printhtml" data-meadco-subscription="{13598d2f-8724-467b-ae64-6e53e9e9f644}" data-meadco-syncinit="false"></script>

    <script src="@Url.Action("Script", new {filename = "meadco-scriptx.js"})"></script>

    <script type="text/javascript">
        function setSimpleFormatting() {
            var p = MeadCo.ScriptX.Printing;
            p.header = "Page heading";
            p.footer = "Footer&b&p of &P";
        }

        // do not use $(function() {}) as the license may still be loading / scripts for the service  still loading
        $(window).on("load",
            function() {
                console.log("starting window.onload");
                $("#libVersion").text(MeadCo.ScriptX.LibVersion);
                MeadCo.ScriptX.InitAsync().then(function() {
                    console.log("Init succeeded to: " + MeadCo.ScriptX.Connector);
                    $("span[data-purpose='sxversion']").text(MeadCo.ScriptX.Version()).addClass("text-success")
                        .removeClass("text-danger");

                    MeadCo.Licensing.IsLicensedAsync().then(function(l) {
                        $("#licCheck").text("VALID: " + l.company).addClass("text-success").removeClass("text-danger");

                        $("#btn-test1").click(function () {
                            setSimpleFormatting();
                            MeadCo.ScriptX.PreviewPage();
                        });

                        $("#btn-test2").click(function () {
                            setSimpleFormatting();
                            MeadCo.ScriptX.BackgroundPrintHTML("<html><body><h1>Hello</h1><p>testing 123</p></body></html>");
                        });

                    }).catch(function() {
                        $("#licCheck").text("** UNKNOWN **");
                        $("#errMsg").text(MeadCo.Licensing.ErrorMessage());
                    });
            }).catch(function() {
                $("span[data-purpose='sxversion']").text("** UNKNOWN **");
                $("#licCheck").text("** UNKNOWN **");
                console.log("Warning :: Failed to initialise scriptx, is it installed?");
            });
        });
    </script>

}
