@{
    ViewBag.Title = "Async Test Page";
}

<div class="jumbotron">
    <h1>MeadCoScriptXJS</h1>
    <p class="lead">MeadCoScriptXJS is a simple javascript wrapper library for use with MeadCo's ScriptX Add-on () for Microsoft Internet Explorer. This library has been used with our samples system for some time.</p>
    <p><a href="http://scriptx.meadroid.com" class="btn btn-primary btn-lg">Learn more about ScriptX &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This is a simple test page for the async functions in the library (<span data-purpose="libversion"></span>). ScriptX must already be installed.</p>
        <h3>Installed version</h3>
        <p>The following version of ScriptX has been found: <span class="text-danger" data-purpose="sxversion">** UNKNOWN **</span>. The license is <span class="text-danger" id="licCheck">** INVALID **</span> <span id="errMsg"></span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"><button class="btn btn-default" id="btn-test1">Preview</button></div>
    <div class="col-md-1"><button class="btn btn-default" id="btn-test2">PrintHTML</button></div>
    <div class="col-md-9">@Html.ActionLink("Home", "Index", null, new { @class = "btn btn-default" })</div>
</div>

<div style="display: none">
    <!-- ScriptX Objects. Assumed installed so no codebase -->
    <!-- MeadCo Security Manager to apply the license to enable advanced features -->
    <!-- This license is good for localhost testing but expires and changes frequently. **** Do NOT Use **** -->
    <!-- Contact MeadCo at http://scriptx/meadroid.com to obtain you own license. -->

    <object classid="clsid:5445be81-b796-11d2-b931-002018654e2e" id="secmgr">
        <param name="GUID" value="{09DF1DC1-CBA3-48A8-AEBE-EF2F287B51CD}" />
        <param name="Path" value="http://licenses.meadroid.com/download/{09DF1DC1-CBA3-48A8-AEBE-EF2F287B51CD}/mlf" />
        <param name="Revision" value="0" />
        <param name="PerUser" value="true" />
    </object>

    <!-- MeadCo ScriptX -->
    <object id=factory style="display: none"
            classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814"></object>

</div>
@section scripts
{
    <script src="~/Scripts/promise.min.js"></script>
    <script src="@Url.Action("Script", new {filename = "meadco-scriptx.js"})"></script>

    <script type="text/javascript">
        function setSimpleFormatting() {
            var p = MeadCo.ScriptX.Printing;
            p.header = "Page heading";
            p.footer = "Footer&b&p of &P";
        }

        function callback() {

        }

        // do not use $(function() {}) as the license may still be loading.
        $(window).on("load",
            function() {
                console.log("starting window.onload");
                $("#libVersion").text(MeadCo.LibVersion);
                MeadCo.ScriptX.InitAsync().then(function() {
                    console.log("Init succeeded to: " + MeadCo.ScriptX.Connector);
                    $("span[data-purpose='sxversion']").each(function(index) {
                        $(this).text(MeadCo.ScriptX.Version()).addClass("text-success").removeClass("text-danger");
                    });
                    $("span[data-purpose='libversion']").each(function(index) {
                        $(this).text(MeadCo.ScriptX.LibVersion).addClass("text-success").removeClass("text-danger");
                    });

                    MeadCo.Licensing.IsLicensedAsync().then(function(l) {
                        $("#licCheck").text("VALID: [" + l.company + "]").addClass("text-success").removeClass("text-danger");

                        $("#btn-test1").click(function () {
                            setSimpleFormatting();
                            MeadCo.ScriptX.PreviewPage();
                        });

                        $("#btn-test2").click(function () {
                            setSimpleFormatting();
                            MeadCo.ScriptX.BackgroundPrintHTML("<html><body><h1>Hello</h1><p>testing 123</p></body></html>");
                        });
                    }).catch(function() {
                        $("#errMsg").text(MeadCo.Licensing.ErrorMessage());
                    });
            }).catch(function() {
            console.log("Warning :: Failed to initialise scriptx, is it installed?");
            if (MeadCo.ScriptX.Init()) {
                console.error("Sync init succeeded!!!!");
            } else {
                console.log("Sync init also failed, looks like not installed.");
            }
        });
    });
    </script>

}
