@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MeadCoScriptXJS</h1>
    <p class="lead">MeadCoScriptXJS is a simple javascript wrapper library for use with MeadCo's ScriptX Add-on () for Microsoft Internet Explorer. This library has been used with our samples system for some time.</p>
    <p><a href="http://scriptx.meadroid.com" class="btn btn-primary btn-lg">Learn more about ScriptX &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This is a test page for the library (<span id="libVersion"></span>). ScriptX must already be installed.</p>
        <h3>Installed version</h3>
        <p>The following version of ScriptX has been found: <span class="text-danger" id="sxversion">** UNKNOWN **</span>. The license is <span class="text-danger" id="licCheck">** INVALID **</span> <span id="errMsg"></span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"><button class="btn btn-default" id="btn-test1">Preview</button></div>
</div>

<div style="display: none">
    <!-- ScriptX Objects. Assumed installed so no codebase -->

    <!-- MeadCo Security Manager to apply the license to enable advanced features -->
    <!-- This license is good for localhost testing but expires and changes frequently. **** Do NOT Use **** -->
    <!-- Contact MeadCo at http://scriptx/meadroid.com to obtain you own license. -->

    <object classid="clsid:5445be81-b796-11d2-b931-002018654e2e" id="secmgr">
        <param name="GUID" value="{2673ED0C-4340-4B15-A431-80A947E76481}"/>
        <param name="Path" value="http://licenses.meadroid.com/download/{2673ED0C-4340-4B15-A431-80A947E76481}/mlf"/>
        <param name="Revision" value="0"/>
        <param name="PerUser" value="true"/>
    </object>

    <!-- MeadCo ScriptX -->
    <object id=factory style="display: none"
            classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814"></object>

</div>
@section scripts
{
    @Scripts.Render("~/bundles/scriptx")

    <script type="text/javascript">
        function setSimpleFormatting() {
            with (MeadCo.ScriptX.Printing) {
                header = "Page heading",
                footer = "Footer&b&p of &P"
            }
        }
        // do not use $(function() {}) as the license may still be loading.
        $(window).load(function () {
            $("#libVersion").text(MeadCo.LibVersion);
            if (MeadCo.ScriptX.Init()) {
                $("#sxversion").text(MeadCo.ScriptX.Version()).addClass("text-success").removeClass("text-danger");
                
                if (MeadCo.Licensing.IsLicensed()) {
                    $("#licCheck").text("VALID").addClass("text-success").removeClass("text-danger");
                } else {
                    $("#errMsg").text(MeadCo.Licensing.ErrorMessage());
                }

                $("#btn-test1").click(function() {
                    setSimpleFormatting();
                    MeadCo.ScriptX.PreviewPage();
                });
            } else {
                console.log("Warning :: Failed to initialise scriptx, is it installed?");
            }
        });
    </script>

}
 