@{
    ViewBag.Title = "Sync Test Page :: Calling ScriptX.Print Service";

    // var serviceUrl = "https://scriptxservices.meadroid.com/";
    var serviceUrl = "https://magma/scriptxservices/";
}

<div class="jumbotron">
    <h1>MeadCoScriptXJS</h1>
    <p class="lead">MeadCoScriptXJS is a simple javascript wrapper library for use with MeadCo's ScriptX Add-on () for Microsoft Internet Explorer. This library has been used with our samples system for some time.</p>
    <p><a href="http://scriptx.meadroid.com" class="btn btn-primary btn-lg">Learn more about ScriptX &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>This is a simple test page for the async functions in the library (<span data-purpose="libversion"></span>) with sync (deprecated) startup. A ScriptX.Print Service should be available.</p>
        <h3>Installed version</h3>
        <p>The following (emulation) version of ScriptX has been found: <span class="text-danger" data-purpose="sxversion">** UNKNOWN **</span>. The license is <span class="text-danger" id="licCheck">** INVALID **</span> <span id="errMsg"></span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-1"><button class="btn btn-default" id="btn-test1">Preview</button></div>
    <div class="col-md-1"><button class="btn btn-default" id="btn-test2">PrintHTML</button></div>
    <div class="col-md-9">@Html.ActionLink("Home", "Index", null, new { @class = "btn btn-default" })</div>
</div>

<div class="row">
    <div class="col-md-9">@Html.ActionLink("Home", "Index", null, new { @class = "btn btn-default" })</div>
</div>

@section scripts
{
    <script src="~/Scripts/MeadCo.ScriptX/meadco-core-1.8.0.js"></script>

    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxprintlicensing-1.8.0.js"></script>

    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxprint-1.8.0.js"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxprinthtml-1.8.0.js"></script>

    <script src="~/Scripts/MeadCo.ScriptX/meadco-secmgr-1.8.0.js"></script>
    <script src="~/Scripts/MeadCo.ScriptX/meadco-scriptxfactory-1.8.0.js" data-meadco-server="@serviceUrl" data-meadco-subscription="{13598d2f-8724-467b-ae64-6e53e9e9f642}" data-meadco-syncinit="false"></script>

    <script src="~/Scripts/promise.min.js"></script>

    <script src="@Url.Action("Script", new {filename = "meadco-scriptx.js"})"></script>

    <script type="text/javascript">
        function setSimpleFormatting() {
            var p = MeadCo.ScriptX.Printing;
            p.header = "Page heading";
            p.footer = "Footer&b&p of &P";
        }

    function callback() {

    }

    // do not use $(function() {}) as the license may still be loading.
    $(window).on("load", function () {
        console.log("starting window.onload");
        $("#libVersion").text(MeadCo.LibVersion);
        if (MeadCo.ScriptX.Init()) {
            console.log("Init succeeded to: " + MeadCo.ScriptX.Connector);
            $("span[data-purpose='sxversion']").each(function (index) {
                $(this).text(MeadCo.ScriptX.Version()).addClass("text-success").removeClass("text-danger");
            });
            $("span[data-purpose='libversion']").each(function (index) {
                $(this).text(MeadCo.ScriptX.LibVersion).addClass("text-success").removeClass("text-danger");
            });

            if (MeadCo.Licensing.IsLicensed()) {
                $("#licCheck").text("VALID: [" + MeadCo.Licensing.LicMgr.License.company + "]").addClass("text-success").removeClass("text-danger");
            } else {
                $("#errMsg").text(MeadCo.Licensing.ErrorMessage());
            }

            $("#btn-test1").click(function () {
                setSimpleFormatting();
                MeadCo.ScriptX.PreviewPage();
            });

            $("#btn-test2").click(function () {
                setSimpleFormatting();
                MeadCo.ScriptX.BackgroundPrintHTML("<html><body><h1>Hello</h1><p>testing 123</p></body></html>");
            });
        }
        else {
            console.warn("Warning :: Failed to initialise scriptx, is it installed?");
        };
    });
    </script>

}
